$color-red: #CD6060;
$color-yellow: #DDD272;
$color-green: #66D962;
$color-blue: #3F5FBF;
$color-white: #F2F2F2;
$color-black: #000000;
$color-black-opacity: #00000090;
$color-orange: #FF7A32;
$color-border: #00000020;

$thickness-sidebar: 2.5rem;